body {
  overflow-x: hidden;
}

ul {
  list-style: none;
}

li {
  list-style: none;
}

a {
  text-decoration: none!important;
  /* color: inherit; */
}

::selection {
  background: rgba(92, 198, 208, 1);
  color: #ffffff;
}

::-moz-selection {
  background: rgba(92, 198, 208, 1);
  color: #ffffff;
}

.bg-firm_style {
  background: #278aff!important;
}

.text-firm_style {
  color: #007bff!important;
}

.btn-search {
  color: #ffffff!important;
  border: 2px solid #ffffff;
  -webkit-transition: all 500ms;
  transition: all 200ms;
  background: #278aff!important;
  font-weight: 600;
  border-radius: 30px;
}

.btn-search:hover {
  /*font-weight: 600;*/
  /*color: #ffffff;*/
  color: #278aff!important;
  background: #ffffff!important;
}

.main-header .navbar-toggler-icon {
  background-image: url(../images/svg/menu.svg);
}

.main-header .navbar-toggler {
  color: rgb(255, 255, 255);
}

/*Main Header=================================*/

.main-header {
  left: 0;
}

.main-header.menu-fixed {
  position: fixed;
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  background: #fff;
  z-index: 35;
  width: 100%;
  top: 0;
  box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
}

.main-header.menu-fixed #main-menu ul li ul.level0 {
  top: 60px
}

.main-header {
  transition: all 0.4s ease-out 0s;
  -webkit-transition: all 0.4s ease-out 0s;
  -moz-transition: all 0.4s ease-out 0s;
  -o-transition: all 0.4s ease-out 0s;
  background: transparent;
  top: 0;
}

div.video_text {
  margin-top: 3%;
  z-index: 2;
}

header .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #ffffff;
  height: 3px;
  transform: scale(0);
  transition: all .3s;
  margin-top: 5px;
}

header .nav-item a:hover::after {
  transform: scale(1);
  z-index: inherit;
}

.navbar-nav .nav-item a {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.navbar-nav .active>.nav-link, .navbar-nav .nav-item a:hover {
  color: #ffffff;
}

.navbar-nav .active>.nav-link {
  font-weight: 500;
}

.lang_drop .dropdown-menu {
  min-width: 5.7rem;
  box-shadow: 5px 5px 15px #00000020;
}

/*MENU FIXED */

header .menu-fixed .nav-item a::after {
  content: '';
  display: block;
  width: 100%;
  background-color: #007bff;
  height: 3px;
  transform: scale(0);
  transition: all .3s;
  margin-top: 5px;
}

header .menu-fixed .nav-item a:hover::after {
  transform: scale(1);
  z-index: inherit;
}

.menu-fixed .navbar-nav .nav-item a {
  color: #007bff;
  text-transform: uppercase;
  font-size: 1.1rem;
}

.menu-fixed .navbar-nav .active>.nav-link, .menu-fixed .navbar-nav .nav-item a:hover {
  color: #007bff;
}

.menu-fixed .navbar-nav .active>.nav-link {
  font-weight: 500;
}

.menu-fixed .lang_drop a {
  color: #007bff!important;
}

/*MENU FIXED colors end*/

.lang_drop .dropdown-menu {
  min-width: 5.7rem;
  box-shadow: 5px 5px 15px #00000020;
}

header {
  position: relative;
  background-color: black;
  height: 100vh;
  min-height: 10rem;
  width: 100%;
  overflow: hidden;
}

nav.navbar.fixed-top {
  z-index: 4;
}

header video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: 0;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

header .overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.5;
  z-index: 1;
}

section.steps .steps__title {
  /* font-family: "Montserrat Bold"; */
}

section.steps div.container-fluid div.steps__text {
  padding: 7rem 2rem;
}

section.top_univers .table-hover tbody tr:hover {
  background-color: #278aff22!important;
}

section.gen_inform {
  background: url(../images/jpg/section_info_bg.jpg) no-repeat center center fixed;
  background-color: rgba(0, 0, 0, .4);
  background-blend-mode: darken;
  display: table;
  height: 100%;
  position: relative;
  width: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

section.gen_inform div.container {
  padding: 5% 0;
}

section.gen_inform h2 {
  font-size: 3rem;
}

section.gen_inform span.quantity {
  font-size: 3rem;
  /* font-weight: 400; */
}

section.gen_inform p {
  font-size: 1.3rem;
}

section.our_univers div.univer div.image img {
  height: 120px;
}

section.our_univers div.univer div.text {
  font-weight: 500;
  text-align: center;
  padding-top: 3%;
}

/* OWL Items */

.owl-stage-outer .owl-item {
  text-align: center;
}

.owl-prev, .owl-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  padding: 7px 15px;
  color: #278aff!important;
  /* background-image: linear-gradient(to right, #278aff, #63acff); */
  font-weight: 800;
}

/* .owl-prev, .owl-next:hover {
  background-image: linear-gradient(to right, #278aff, #63acff);
}

.owl-next, .owl-prev:hover {
  background-image: linear-gradient(to right, #63acff, #278aff);
} */

/* .owl-prev:hover, .owl-next:hover {
  background-image: linear-gradient(to right, #8ac547, #7bbf48, #66b54c, #51aa4e, #45a450);
} */

.owl-prev {
  left: -5rem;
}

.owl-next {
  right: -5rem;
}

@media (pointer: coarse) and (hover: none) {
  header {
    background: url('../images/jpg/section_info_bg.jpg') black no-repeat center center scroll;
    background-size: cover;
    height: 125vh;
  }
  header video {
    display: none;
  }
}

@media (max-width: 425px) {
  .navbar {
    padding: 0.5rem 0;
  }
  div.video_text {
    margin-top: 1%;
  }
  h1.display-3 {
    font-size: 3.5rem;
  }
  img#logo {
    width: 10rem;
  }
  section.steps div.container-fluid div.steps__text {
    padding: 1rem;
  }
  .main-header.menu-fixed span.navbar-toggler-icon {
    background-image: url(../images/svg/menu_firm.svg);
  }
  .main-header.menu-fixed {
    width: 85%;
  }
}