@font-face {
    font-family: 'ProximaNova';
    src: local('ProximaNova Light'), local('ProximaNova-Light'), url('ProximaNova-Light.woff') format('woff'), url('ProximaNova-Light.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova Regular';
    src: local('ProximaNova Regular'), local('ProximaNova-Regular'), url('ProximaNova-Regular.woff') format('woff'), url('ProximaNova-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova Semibold';
    src: local('ProximaNova Semibold'), local('ProximaNova-Semibold'), url('ProximaNova-Semibold.woff') format('woff'), url('montserrathairline.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova Bold';
    src: local('ProximaNova Bold'), local('ProximaNova-Bold'), url('ProximaNova-Bold.woff') format('woff'), url('ProximaNova-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: 'ProximaNova BLack';
    src: local('ProximaNova Black'), local('ProximaNova-Black'), url('ProximaNova-Black.woff') format('woff'), url('ProximaNova-Black.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}
